@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:wght@300;400;700&display=swap');

:root {
    --header-height: 4.5rem;

    /*---------------COLLORS -------------------*/
    --first-color: #f13b12;
    --first-color_alt: #fa5732f8;
    --first-color_alt_light: #f13b12;
    --light-color: #000;
    --text-color: #fff;
    --body-color: #212121;
    --container-color: #2B2B2B;

    /*---------------FONT  AND TYPOGRAPHY-------------------*/
    --body-font: "Lato", sans-serif;
    --font-logo: 'Italiana', serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /*---------------FONT WEIGHT-------------------*/
    --font-light: 300;
    --font-medium: 400;
    --font-bold: 700;

    /*---------------MARGINS-------------------*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*---------------Z INDEXS-------------------*/
    --Z-fixed: 100;
    --z-tooltip: 10;
}

* {
    background: var(--body-color);
}

body {
    margin-top: 35px;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

.home__title {
    font-size: 30px;
    color: var(--text-color);
    display: block;
    position: relative;
    text-align: center;
}

.logo{
    font-family: var(--font-logo);
    font-size: 40px;
    padding-top: 3rem;
    background: linear-gradient(to right, #F66B0E 0%, #EB5353 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    position: relative;
    border: none;
    border-radius: 10px;
    cursor: default;
}

th{
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #F15412 0%, #EB5353 50%, #c63838 100%);
    color: white;
}

td {
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
}

td:hover{
    color: #F15412;
    border-color: #EB5353;
}

div a .btn-outline{
    text-decoration: none;
}

.home__btn {
    margin-top: 30px;
    align-items: flex-end;
    display: flex;
    justify-content: right;
    position: relative;
    padding: 0 3rem;
}

.btn {
    width: 30%;
    background: linear-gradient(to right, #F15412 0%, #EB5353 100%);
    border: none;
    outline: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    letter-spacing: 4px;
    text-align: center;
    outline: none;
    color: var(--light-color);
    border-radius: 6px;
    display: inline-block;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}

.btn:hover{
    background: transparent;
    color: #F15412;
    border: 2px solid #F15412;
    cursor: pointer;
}

@media (max-width: 960px){
    table{
        margin-top: 20px;
        font-size: 15px;
    }
    th{
        padding: 5px;
    }
    .btn{
        width: 90%;
        font-size: 13px;
        letter-spacing: 1px;
    }
    .logo{
        font-size: 35px;
    }
    .home__title{
        font-size: 30px;
    }
    body{
        margin-top: 20px;
    }
    .home__btn {
        padding: 0 -200px;
    }

    td{
        padding-top: 5px;
        padding-bottom: 5px;
    }


}